:root {
  --primary-text-color: #212121;
  --first-color: #ffffff;
  --second-color: #757575;
  --accent-color: #2196f3;
  --header-footer-background-color: #2f303a;
  --section-background-color: #e5e5e5;
  --section-team-background-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --header-logo-color: #000000;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 2px solid tomato;
}
body {
  background-color: var(--first-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.list {
  display: flex;
  list-style: none;
}
/* header */
.main-header {
  align-items: center;
}
.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.header-logo {
  color: var(--header-logo-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
/* nav */
.main-nav {
  display: flex;
  margin: 0px;
}
/* site-nav */
.site-nav {
  display: flex;
}
.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* container-link */
.container-link {
  display: flex;
  margin: 0px;
}

/* auth-nav */
.auth-nav {
  display: flex;
}

.auth-nav .item + .item {
  margin-left: 50px;
}
.auth-nav .link {
  color: var(--second-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}
/* hero */
.hero {
  padding-top: 200px;
  padding: 210px;

  background-color: var(--header-footer-background-color);
}
.hero-titel {
  margin-bottom: 40px;
  text-align: center;

  color: var(--first-color);
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  align-self: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  display: inline-block;
  padding: 10;

  color: var(--first-color);
  background-color: var(--accent-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-self: center;
  vertical-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
}
.button:hover,
.button:focus {
  color: var(--first-color);
  background-color: var(--accent-color);
}
/* features */
.features {
  background-color: var(--first-color);
}
.list .item + .item {
  margin-left: 30px;
}
.features-titel {
  padding-top: 94px;
  padding-bottom: 10px;
  width: 270px;

  color: var(--primary-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-text {
  padding-bottom: 94px;
  width: 270px;

  color: var(--second-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
/* .works */
.works {
  padding-bottom: 94px;

  background-color: var(--first-color);
}
.works-titel {
  text-align: center;
  margin-bottom: 50px;
}
.list .works-item + .works-item {
  margin-left: 30px;
}
.works-titel .team-titel {
  color: var(--primary-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
/* team */
.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--section-team-background-color);
}
.team-titel {
  text-align: center;
  margin-bottom: 50px;
}
.list .team-bord + .team-bord {
  margin-left: 30px;
}
.team-bord {
  background-color: var(--first-color);
}
.team-img {
  margin-bottom: 30px;
}
.team-name {
  margin-bottom: 10px;
  text-align: center;

  color: var(--primary-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-text {
  text-align: center;
  padding-bottom: 30px;

  color: var(--second-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}
/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--header-footer-background-color);
}
.footer .logo {
  margin-bottom: 20px;
  width: 145px;
  height: 31px;
}
.footer-logo {
  color: var(--first-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.address {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}
.address-list {
  list-style: none;
}
.footer-address {
  margin-bottom: 9px;
  width: 231px;

  color: var(--first-color);
  text-decoration: none;
  list-style: none;
}
.footer-link {
  margin-bottom: 9px;
  width: 231px;

  color: var(--footer-link-color);
  text-decoration: none;
  list-style: none;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
/* portfolio */
.section {
  background-color: var(--first-color);
}
.button {
  color: var(--primary-text-color);
  background-color: var(--section-team-background-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
}
.active {
  background-color: var(--accent-color);
  color: var(--first-color);
}
.button:hover,
.button:focus {
  color: var(--first-color);
  background-color: var(--accent-color);
}
.example {
  background-color: var(--first-color);
}
.examplt-name {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.example-text {
  color: var(--second-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
